<div class="topnav" id="myTopnav">
  <span id="espaciado1"></span>
  <img src="../assets/logo.svg" alt="Icono" id="logo">
  <a id="burger" href="javascript:void(0);" class="icon" (click)="clickEvent()">
    <i class="fa fa-bars"></i>
  </a>
  <span id="espaciadoRes"></span>
  <a href="#Contacto">Contacto</a>
  <a href="#Video">Video</a>
  <a href="#Compartir">Compartir</a>
  <a href="#Guia">Guía</a>
  <a href="#Intro">Intro</a>
  <a href="#hero">Inicio</a>

</div>

<section id="hero">
  <p>Newsuty</p>
</section>

<section id="Intro">
  <p class="titulo">Newsuty</p>
  <p class="texto">
    Newsuty es una aplicación desarrollada para Android (Kotlin, Firebase).<br />
    Esta aplicación te permitirá compartir noticias con la comunidad y poder votarlas.<br />
    La aplicación esta disponible en 2 idioContacto, Español e Ingles. Tambien podras cambiar facilmente el
    lenguaje
    de las noticias que estas leyendo
  </p>
</section>

<section id="Guia">
  <p class="titulo">Guía</p>
  <p class="texto">
    Newsuty es muy fácil de usar una. Una vez instalada la aplicación, puedes iniciar sesión con tu cuenta de
    Google o crear un con tu correo electrónico. Una vez dentro de la aplicación podrás observar que tienes una
    lista con las noticias más destacadas, puedes votar Like o Dislike con una pulsación larga sobre la noticia.
  </p>
</section>
<section id="Compartir">
  <p class="titulo">Compartir</p>
  <p class="texto">
    Puedes compartir una noticia ya sea a través de una foto de una noticia en algún medio tradicional o usando
    la URL de un periódico digital
  </p>
</section>
<section id="Video">
  <p class="titulo">Video</p>
  <p class="texto">
  <div class="VideoGrid">
    <div class="ContenedorIframe">
      <div class="iframe-responsive">
        <iframe class="iframe-content" src="https://www.youtube.com/embed/TMROfnFNyRQ" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>

      </div>
    </div>
  </div>
</section>

<section id="Contacto">
  <p class="titulo">Contacto</p>
  <p class="texto">
    Puede contactarme desde
    <a href="https://github.com/JoseEstradaC">Github</a><br>
    Estudiante de IES Campanillas PTA
  </p>
  <div class="ContenedorIframe mapa">
    <div class="iframe-responsive">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d237.63714068346354!2d-4.554361857801881!3d36.74053349587641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb6dccfba3e65a1f2!2sFP%20IES%20Campanillas%20PTA!5e0!3m2!1ses!2ses!4v1655822608322!5m2!1ses!2ses"
        class="iframe-content" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
        tabindex="0"></iframe>
    </div>
  </div>
</section>

<section id="col2">
  <div class="col">Jose Manuel Estrada Cobo</div>
  <div class="col">Newsuty</div>
</section>